/* -----------------------------------------------Menu---------------- */
.wrapper {
    /*height: 100vh;*/
    /*width: 83vw;*/
    padding: 0 8.33vw 0 8.33vw;
    margin: 0 auto;
}

.main-page {
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}

.main-page__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.7vh;
    /*margin: 0 auto;*/
}

.main-page__logo,
.logo {
    display: flex;
    align-items: center;
}

.main-page__logo img,
.logo img {
    width: 2.7vw;
    height: 2.7vw;
}

.main-page__logo-text,
.logo-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.9vw;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    padding-left: 0.5vw;
}

.main-page__menu-link,
.main-page__contact-us {
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}
.home-link {
    color: #5454d4;
}

.main-page__menu-list {
    display: flex;
    height: 100%;
    align-items: center;
}


.main-page__menu-link {
    padding-left: 3vw;
    font-size: 1.3vw;
}

.main-page__contact-us {
    height: 100%;
    background-color: #19191B;
    border: 0.06vw white solid;
    border-radius: 0.6vw;
    padding: 1.4vh 3.1vw;
    backdrop-filter: blur(1px);
    font-size: 1.3vw;
}


/* -----------------------------------------------Main Page---------------- */
.main-page-content {
    display: flex;
    justify-content: space-between;
    width: 88vw;
}

.main-page-content__body {
    margin-top: 7.6vw;
    width: 40vw;
}

.main-page-content__title,
.main-page-content__text,
.main-page-content__button {
    color: white;
}

.main-page-content__title {
    font-family: Lato sans-serif;
    /*font-size: 80px;*/
    /*line-height: 84px; !* 105% *!*/
    font-size: 5.5vw;
    line-height: 5.8vw;
}

.main-page-content__text {
    width: 34vw;
    margin-top: 2vh;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 1.4vw;
    line-height: 2.7vw;
    letter-spacing: -0.657px;
}

.main-page-content__button {
    background-color: #5454D4;
    border-radius: 4px;
    padding: 1.4vh 3.4vw;
    font-family: Lato sans-serif;
    font-size: 1.3vw;
    margin-top: 4.8vh;
}

.main-page-content__image img {
    max-width: 100%;
    height: 100%;
    /*height: 69.62vh;*/
}


/* -----------------------------------------------Second Page---------------- */


.second-page__top {
    display: flex;
    justify-content: space-between;
    margin-top: 10.4vw;
}

.second-page__top-title {
    width: 39vw;
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 4.2vw;
    line-height: 4.8vw;
}

.second-page__top-text {
    padding-left: 1.6vw;
    width: 39vw;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 1.4vw;
    line-height: 2.7vw;
    letter-spacing: -0.657px;
}


.second-page__image img {
    width: 100%;
    /*height: 65.4vh;*/
    margin-top: 3.4vw;
}


/* ----------------------------------------------Third page---------------- */

.third-page {
    margin-top: 11.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-page-blocks {
    margin-top: 8vw;
}

.third-page-blocks__first,
.third-page-blocks__second {
    /*width: 85vw;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.third-page-blocks__second {
    margin-top: 9.6vw;
}


.third-page-blocks__block {
    width: 21vw;
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-page__title {
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 4.1vw;
    line-height: 4.8vw;
    width: 43vw;
    text-align: center;
}

.block-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-icon img {
    background-color: #2e1d1e;
    padding: 17px;
    border-radius: 50%;
}

.third-page-blocks__first .third-page-blocks__block:nth-child(1) .block-icon img,
.third-page-blocks__second .third-page-blocks__block:nth-child(2) .block-icon img {
    background-color: #25253a;
}

.third-page-blocks__first .third-page-blocks__block:nth-child(3) .block-icon img,
.third-page-blocks__second .third-page-blocks__block:nth-child(1) .block-icon img {
    background-color: #343129;
}

.block-title {
    text-align: center;
    margin-top: 2.7vw;
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: -0.75px;
}

.block-text {
    text-align: center;
    margin-top: 1.6vw;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 1.3vw;
    line-height: 1.9vw;
    letter-spacing: -0.5px;
}

/* -----------------------------------------------Portfolio---------------- */
.third-page-portfolio {
    margin-top: 13.8vw;
}

.third-page-portfolio__title {
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 4vw;
    font-weight: 800;
}

.third-page-portfolio__body {
    margin-top: 12.8vw;
}

.third-page-portfolio img {
    width: 23.33vw;
    margin: 0 1.3vw;
    background-color: #1E1E20;
    padding: 1vw;
    border-radius: 14px;
}


/* -----------------------------------------------Footer---------------- */
.footer {
    padding: 0 7.9vw 0 7.9vw;
    background-color: rgba(30, 30, 32, 0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35.1vw;
    margin-top: 17.3vw;
    border-bottom: 0.06vw solid black;
}

.footer__title {
    width: 57.3vw;
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 4.1vw;
}


.footer__contacts-button {
    color: white;
    background-color: #5454D4;
    border-radius: 4px;
    padding: 1.4vh 3.4vw;
    font-family: Lato sans-serif;
    font-size: 1.3vw;
}

.footer-logo-content {
    padding: 0 7.9vw 0 7.9vw;
    height: 10.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 1.1vw;
    line-height: 2.6vw; /* 237.5% */
    letter-spacing: -0.5px;
}

.footer-menu {
    display: none;
}

